/*General mesa Styles*/ 
.nav-tabs > li > a {
    height: 32px;
    padding: 5px 10px;
}
.nav-tabs > li:hover > a {
    color: #333;
}
.nav-tabs > li > ul > li.active > a {
    background-color: #03A9F4;
    color: #FFFFFF;
}
.nav-tabs > li > ul > li:hover.active > a {
    background-color: #2196F3;
    color: #FFFFFF;
}
#map{
    padding: 0;
    background-color: #333;
    width: 100%;
    height: 425px;
}
#mesa-container{
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
#hp{
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
#mp{
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress{
    margin-bottom: 2px;
    border-radius: 6px;
}
/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 0;
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 100;
    position: fixed;
    top: 98px;
    bottom: 0;
    right: 250px;
    margin-right: -249px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 400px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
}
@media(max-width:822px) {
    #sidebar-wrapper {
        display: none;
    }
    #menu-toggle{
        display: none;
    }
}
@media(min-width:822px) {
    #wrapper {
        padding-right: 400px;
    }

    #wrapper.toggled {
        padding-right: 0;
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 400px;
        overflow: auto;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/* chat Styles */
    #sidebar-wrapper {
        background-color: #EBE7E1;
        border-left: 1px solid gray;
    }
    #sidebar-wrapper > .bgchatimg{
        background-image: url("../img/chat_bg.png");
        position: fixed;
        width: 400px;
        top: 0px;
        bottom: 0px;
        padding-top: 10px;
        opacity: 0.09;
    }
    #chat-top{
        height: 36px;
        position: fixed;
        width: 400px;
        top: 98px;
        z-index: 1 !important;
    }
    #top-menu-chat{
        float: right;
        display: inline-block;
    }
    #chat-container{
        overflow-x: hidden;
        overflow-y: scroll;
        position: fixed;
        width: 400px;
        top: 134px;
        bottom: 60px;
        padding-top: 10px;
        
    }
    .chatbox{
        background-color: transparent;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
        
    }
    .chatnick{
    }
    code{
        border-radius: 0px;
        background-color: transparent;
    }
    .nick{
        font-size: 15px;
        font-weight: 700;
        margin-right: 5px;
    }
    .time{
        font-size: 12px;
        font-weight: 400;
        color: #333;
    }
    .chatmsg{
        background-color: #FFFFFF;
        max-width: 360px;
        min-width: 150px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        word-break: break-all;
        border-radius: 3px;
    }
    .me{
        background-color: #2196F3;
        color: white;
        font-weight: 500;
    }
    .system{
        background-color: #FEF4C4;
        color: #555;
        padding: 2px;
        max-width: 365px;
        min-width: 365px;
        border-radius: 6px;
    }
    .battle{
        background-color: #F44336;
        color: #FFFFFF;
        max-width: 380px;
        min-width: 380px;
        text-align: center;
    }
    .battle2{
        background-color: #9E9E9E;
        color: #FFFFFF;
        margin-left: 40px;
        margin-right: 40px;
        max-width: 320px;
        min-width: 320px;
        text-align: center;
    }
    .battlekill{
        background-color: #795548;
        color: #FFFFFF;
        margin-left: 40px;
        margin-right: 40px;
        max-width: 320px;
        min-width: 320px;
        text-align: center;
    }
    
    #chat-box{
        position: fixed;
        bottom: 0;
        width: 400px;
    }
    
    .ms-date {
      display: block;
      color: #B3B3B3;
      margin-top: 7px;
    }

    .ms-date > i {
      font-size: 14px;
      vertical-align: bottom;
      line-height: 100%;
    }

    .ms-reply {
      position: relative;
      margin: 0 !important;
    }

    .ms-reply textarea {
      float: left;
      width: 340px;
      font-size: 13px;
      border: 0;
      padding: 10px 8px;
      resize: none;
      height: 60px;
    }

    .ms-reply button {
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      height: 100%;
      width: 60px;
      font-size: 25px;
      background: #2196f3;
      color: #F5F5F5;
    }

    .ms-reply button:hover {
      background: #2196ff;
    }
    .c-black{
        color: #333 !important;
    }
    #sendie-btnimg > a{
        cursor: pointer;
    }
    #sendie-btnvid > a{
        cursor: pointer;
    }
    .imgchat{
        max-width: 350px;
        min-width: 150px;
        width: auto;
        height: auto;
    }
    .chatmsgimg{
        background-color: #FFFFFF;
        max-width: 360px;
        min-width: 150px;
        padding: 5px;
        border-radius: 3px;
    }
.tab-content > .tab-pane {
    display: block;
    height:0;
    overflow:hidden;
}

.tab-content > .active {
    display: block;
    height:auto;
}   
