/* General mesa Styles */
html{
    background-image: url("../img/ZenBG.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}
body{
    background: rgba(0,0,0,0);
     /* Old browsers */
    //background: -webkit-gradient(linear, left top, left bottom, from(#d2ff52), to(#91e842)) fixed;
    
}
#map{
    background-color: #333;
    width: 100%;
    height: 425px;
    margin-top: 14px;
    margin-bottom: 14px;
}
#mesa-container{
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.nav-tabs > li > a {
    color: white;
}
.nav-tabs > li:hover > a {
    color: #23527c;
}
#hp{
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}
.progress{
    margin-bottom: 2px;
    border-radius: 6px;
}
/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 0;
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -252px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
}

@media(min-width:753px) {
    #wrapper {
        padding-right: 350px;
    }

    #wrapper.toggled {
        padding-right: 0;
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 350px;
        overflow: auto;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* chat Styles */
    #sidebar-wrapper{
        padding-bottom: 150px;
        background-image: url("../img/chatbg3.png");
        background-repeat: repeat;
        border-left: 2px solid #0f0f0f;
    }
    #chat-container{
      padding: 3px;
      background-color: rgba(0,0,0,0);
      overflow: auto;
      height: 100%;
      width: 250px;
    }
    #chat-box{
        padding: 3px;
        background-color: rgba(33,33,33,0.8);
        position: fixed;
        bottom: 0;
        width: 250px;
        min-height: 10px;
    } 
@media(min-width:753px) {
    #chat-container{
      padding: 3px;
      background-color: rgba(0,0,0,0);
      overflow: auto;
      height: 100%;
      width: 350px;
    }
    #chat-box{
        padding: 3px;
        background-color: rgba(33,33,33,0.8);
        position: fixed;
        bottom: 0;
        width: 350px;
        min-height: 10px;
    }    
}
    
