body {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #FAFAFA;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.text-white{
    color: whitesmoke;
}
.text-title{
    font-family: 'Rokkitt', serif;
    text-align: center;
    text-shadow: 0 1px 1px #FB6e18;
    margin-bottom: -6px;
    color: #FB5D18;
}
.bg-color1{
    background-color: white;
}
.bg-color2{
    background-color: #007fff;
}
.cinput{
    margin-bottom: 6px;
}

